<div>
  <p class="lead">Quick shop</p>
  <div class="cart">
    <div class="dropdown">
      <button id="dLabel" class="btn btn-inverse btn-block btn-lg" href="/basket">
        <i class="fa fa-fa-shopping-cart"></i>
        <span>0 item(s) - $0</span>
      </button>
    </div>
  </div>
  <div class="form-group">
    <h1>phone.name</h1>
    <h2>$phone.price</h2>
  </div>
  <a class="btn btn-info btn-block">Back to store</a>
  <button
    type="button"
    class="btn btn-success btn-block"
  >
  Add to cart
  </button>
</div>
