<div>
  <div>Your shopping cart is empty</div>

  <div class="table-responsive">
    <table class="table-bordered table-striped table-condensed cf">
      <tbody>
      <tr
        class="item-checout"
      >
        <td class="first-column-checkout">
          <img
            class="img-thumbnail"
            src="../../../assets/images/iphone5c-selection-hero-2013.png"
            alt="phone.name"
          />
        </td>
        <td>phone.name</td>
        <td>$phone.price</td>
        <td>phone.count</td>
        <td>
          <span class="delete-cart"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="pull-right total-user-checkout">
      <b>Total:</b>
      $totalPrice
    </div>
  </div>
</div>
