<div class="thumbnail">
  <div class="row">
    <div class="col-md-6">
      <img
        class="img-thumbnail"
        src="../../../assets/images/iphone5c-selection-hero-2013.png"
        alt="phone.name"
      />
    </div>
    <div class="col-md-6">
      <div class="column">
        <div class="ab-details-title">
          <p>key</p>
        </div>
        <div class="ab-details-info">
          value
        </div>
      </div>
    </div>
  </div>
  <div class="caption-full">
    <h4 class="pull-right">$127</h4>
    <h4>phone.name</h4>
    <p>phone.description</p>
  </div>
</div>
